    <section class="flat-signin">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wrap-sign-in center">
                <h4>회원가입</h4>
                <br>
                <div class="form-sign-in">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div >
                      <div class="avatar-flip">
                          <img src="" height="150" width="150" id="profile" alt="">
                          <img src="" height="150" width="150" alt="">
                      </div>
                        <%= f.label :profile_img ,value:"프로필 사진"%><br />
                        <%= f.file_field :profile_img,  accept: "image/jpeg, image/jpg, image/gif, image/png" %>
                      <br>
                      <div class="form-box">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                      </div>
                      <!-- /.form-box -->
                      <div class="form-box">
                        <%= f.label :name ,value:"이름"%>
                        <%= f.text_field :name%>
                      </div>
                      <div class="form-box">
                          <%= f.label :password %>
                          <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <%= f.password_field :password, autocomplete: "new-password" %>
                      </div>
                      <div class="form-box">
                          <%= f.label :password_confirmation %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                      </div>
                      <div class="form-box">
                        <%= f.label :major,value:"학과" %>
                        <%= f.text_field :major%>
                      </div>
                      <div class="form-box">
                        <%= f.label :stu_num,value:"학번" %>
                        <%= f.text_field :stu_num%>
                      </div>
                      <div class="form-box">
                        <%= f.label :phone_num,value:"전화번호" %>
                        <%= f.text_field :phone_num%>
                      </div>
                      <!-- /.form-box -->
                      <div class="btn-submit">
                            <%= f.button "Sign up",class:"bg-black register" %>
                      </div>
                      <%= link_to '또는 회원가입', new_user_registration_path,class:"create-account" %>
                    </div>
                  <% end %>
                </div>
                <!-- /.form-sign-in -->
              </div>
              <!-- /.wrap-sign-in -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-singin -->


<script type="text/javascript">

jQuery(document).ready(function($) {
  function readURL(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();

           reader.onload = function (e) {
               $('img').attr('src', e.target.result);
           };

           reader.readAsDataURL(input.files[0]);
       }
   };
   $('input#user_profile_img').on('change', function(){
     console.log("asd");
    readURL(this);
  });
});

</script>
