<section class="page-title style3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="box-title style2 color-black">
              <div class="breadcrumbs">
                <ul>
                  <li><a href="/index.html" title="">Home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                  <li><a href="/element.html" title="">Shop</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                  <li>My Account</li>
                </ul>
              </div>
              <!-- /.breadcrumbs -->
            </div>
            <!-- /.box-title -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.page-title -->

    <section class="flat-signin">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wrap-sign-in center">
                <h4>회원가입</h4>
                <div class="form-sign-in">
                  <!-- <form action="#" method="post" accept-charset="utf-8"> -->

                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div>
                      <div class="form-box">

                          <!-- <div class="field"> -->
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                          <!-- </div> -->

                        <!-- <label for="email"> -->
                          <!-- Username or email address * -->
                        <!-- </label> -->
                        <!-- <input type="text" id="email" name="email" > -->
                      </div>
                      <!-- /.form-box -->

                      <div class="form-box">
                        <%= f.label :name %>
                        <%= f.text_field :name%>
                      </div>

                      <div class="form-box">
                        <!-- <div class="field"> -->
                          <%= f.label :password %>
                          <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <%= f.password_field :password, autocomplete: "new-password" %>
                        <!-- </div> -->
                        <!-- <label for="password">
                          Password *
                        </label>
                        <input type="password" id="password" name="password" > -->
                      </div>
                      <div class="form-box">
                        <!-- <div class="field"> -->
                          <%= f.label :password_confirmation %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        <!-- </div> -->
                      </div>
                      <div class="form-box">
                        <%= f.label :stu_num %>
                        <%= f.text_field :stu_num%>
                      </div>
                      <div class="form-box">
                        <%= f.label :phone_num %>
                        <%= f.text_field :phone_num%>
                      </div>
                      <!-- /.form-box -->
                      <div class="btn-submit">
                          <!-- <div class="actions"> -->
                            <%= f.button "Sign up",class:"bg-black register" %>
                          <!-- </div> -->
                        <!-- <button class="bg-black register" type="button">REGISTER</button> -->
                      </div>
                      <!-- <a href="#" class="create-account" title="">OR SIGN IN</a> -->
                      <%= link_to '또는 회원가입', new_user_registration_path,class:"create-account" %>
                    </div>
                  <!-- </form> -->
                  <% end %>
                </div>
                <!-- /.form-sign-in -->
              </div>
              <!-- /.wrap-sign-in -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-singin -->







<!-- <%#= render "devise/shared/links" %> -->
