<section id="header" class="header style2 v7">
  <div class="container-fluid">
    <div class="nav">
      <div class="nav-header">
        <div class="nav-title">
          <%= link_to :root do %>
          ReUseMarket
          <% end %>
        </div>
      </div>
      <div class="nav-links">
        <span class="text_effect_box"><%= link_to items_path do %>중고물품 구매<% end %></span>
        <span class="text_effect_box"><%= link_to trades_list_path do %>중고거래 기록<% end %></span>
        <span class="text_effect_box"><%= link_to new_item_path do %>중고물품 판매<% end %></span>
      </div>
      <div class="nav-items">
        <div class="menu_ref_users">
        <% if user_signed_in? %>
          <span>
          <%= link_to '로그아웃', destroy_user_session_path,method: :delete %>
          </span>
        <% else %>
          <span>
          <%= link_to '회원가입', new_user_registration_path %>
          </span>
          <span>
          <%= link_to '로그인', new_user_session_path %>
          </span>
        <% end %>
        </div>
        <% if user_signed_in? %>
        <div class="ico_profile">
          <%= link_to user_profile_path do %>
          <span class="fa fa-user fa-2x"></span>
          <% end %>
        </div>
        <% end %>
        <div class="box-canvas">
          <span class="fa fa-bell fa-2x ti-align-right"> </span>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-canvas">
    <div class="close">
      <em class="fa fa-times" aria-hidden="true"></em>
    </div>
    <div class="widget-about">
      <h5>동국대 학생들의 중고장터</h5>
      <p>동국대 학생들이 만족할만한 최고의 서비스, 최고의 질을 갖춘 중고거래 사이트를 만들어가고 싶습니다.</p>
    </div>
    <div class="widget-contact">
      <h5>Contact Us</h5>
      <ul>
        <li>서울시 동국대학교</li>
        <li>(02) 0000 0000</li>
        <li><a href="#" title="">support@dgu.edu</a></li>
      </ul>
    </div>
    <div class="share-link">
      <ul class="social-ft">
        <li>
          <a href="" title="Facebook">
            <em class="ti-facebook" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Twitter">
            <em class="ti-twitter-alt" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Google Plus">
            <em class="ti-google" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Instagram">
            <em class="fa fa-instagram" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Dribble">
            <em class="ti-dribbble" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Pinterest">
            <em class="ti-pinterest" aria-hidden="true"></em>
          </a>
        </li>
      </ul>
      <p class="copyright">Copyright ©2017 ReUseMarket. All Rights Reserved</p>
    </div>
  </div>
</section>
<!-- /.header -->

<script>
  $(document).ready(function() {

   });

</script>
