<section id="header" class="header style2 v7">
  <div class="container-fluid">
    <div id="logo" class="logo float-left">
      <%= link_to :root do %>
        ReUseMarket
      <% end %>

    </div>
    <!-- /.logo -->
    <!-- <div class="get-quote float-right">
      <#% if user_signed_in? %>
        <#%= link_to '로그아웃', destroy_user_session_path,method: :delete %>
      <#% else %>
        <#%= link_to '로그인', new_user_session_path %>
        <#%= link_to '회원가입', new_user_registration_path %>
      <#% end %>
    </div> -->

    <div class="menu-extra">
      <div class="box-canvas">
        <%= link_to user_profile_path do %>
        <span class="fa fa-user"></span>
        <% end %>
      </div>
      <div class="box-canvas">
        <span class="fa fa-bell"> </span>
      </div>
    </div>
    <!-- /.icon-header -->
    <div class="nav-wrap">
      <div class="btn-menu">
        <span></span>
      </div>
      <!-- //mobile menu button -->
      <div id="mainnav" class="mainnav">
        <ul class="menu">
          <!-- /.has-menu-mega -->
          <li class="has-submenu">
            <%= link_to items_path do %>
              중고물품 구매
            <%end%>
          </li>

          <li class="has-submenu">
            <%= link_to trades_list_path do %>
              중고거래 기록
            <% end %>
          </li>

          <li class="has-submenu">
            <%= link_to new_item_path do %>
              중고물품 판매
            <% end %>
          </li>

          <% if user_signed_in? %>
            <li class="has-submenu" style="float:right">
              <%= link_to '로그아웃', destroy_user_session_path,method: :delete %>
            </li>
          <% else %>
            <li class="has-submenu" style="float:right">
              <%= link_to '로그인', new_user_session_path %>
            </li>
            <li class="has-submenu" style="float:right">
              <%= link_to '회원가입', new_user_registration_path %>
            </li>
          <% end %>
        </ul>
        <!-- /.menu -->
      </div>
      <!-- /.mainnav -->
    </div>
    <!-- /.nav-wrap -->
    <div class="clearfix"></div>
  </div>
  <!-- /.container-fluid -->
  <div class="menu-canvas">
    <div class="close">
      <em class="fa fa-times" aria-hidden="true"></em>
    </div>
    <div class="widget-about">
      <h5>동국대 학생들의 중고장터</h5>
      <p>동국대 학생들이 만족할만한 최고의 서비스, 최고의 질을 갖춘 중고거래 사이트를 만들어가고 싶습니다.</p>
    </div>
    <div class="widget-contact">
      <h5>Contact Us</h5>
      <ul>
        <li>서울시 동국대학교</li>
        <li>(02) 0000 0000</li>
        <li><a href="#" title="">support@dgu.edu</a></li>
      </ul>
    </div>
    <div class="share-link">
      <ul class="social-ft">
        <li>
          <a href="" title="Facebook">
            <em class="ti-facebook" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Twitter">
            <em class="ti-twitter-alt" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Google Plus">
            <em class="ti-google" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Instagram">
            <em class="fa fa-instagram" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Dribble">
            <em class="ti-dribbble" aria-hidden="true"></em>
          </a>
        </li>
        <li>
          <a href="" title="Pinterest">
            <em class="ti-pinterest" aria-hidden="true"></em>
          </a>
        </li>
      </ul>
      <p class="copyright">Copyright ©2017 ReUseMarket. All Rights Reserved</p>
    </div>
  </div>
</section>
<!-- /.header -->

<section>


</section>
