<section class="page-title <%= section_class %>">
<%= ad_pre_html.html_safe %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-title color-black ">
            <%= title_html.html_safe %>
            <div class="breadcrumbs">
              <ul>
                <li><%= link_to :root do %>Home<% end %><em class="fa fa-angle-right" aria-hidden="true"></em></li>
                <li><%= link_to :items do %> Shop <%end%><em class="fa fa-angle-right" aria-hidden="true"></em></li>
                <li></li>
              </ul>
            </div>
            <!-- /.breadcrumbs -->
          </div>
          <!-- /.box-title -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  <%= ad_post_html.html_safe %>
  <!-- /.title-heading -->
</section>
<!-- /.page-title parallax -->
