<section>
  <div class="container wrap-product">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">

      </div>
    </div>
    <div class="row">
      <div style="width:100%; height: 150px; margin:0 auto;">
        <%= search_form_for @q do |f| %>
          <div class="sort-product style3">
            <div class="search_box">
              <div class="container-search">
                <span class="icon"><em class="fa fa-search fa-2x"></em></span>
                <%= f.search_field :name_cont ,id:"search",placeholder:"Search..."%>
                <div class="filter float-right">
                  Filters <em class="fa fa-angle-down" aria-hidden="true"></em>
                </div>
              </div>
            </div>
          </div>
          <div class="box-filter shop">
            <div class="hider">
              <em class="fa fa-times" aria-hidden="true"></em>
            </div>
            <div class="widget widget-sort-by">
              <div class="widget-title">
                <h4>정렬 하기</h4>
              </div>
              <ul>
                <li>
                  <%= sort_link(@q, :price,'가격 순') %>
                </li>
                <li>
                  <%= sort_link(@q, :created_at,'등록 일 순') %>
                </li>
                <li>
                  <%= sort_link(@q, :name,'이름 순') %>
                </li>
              </ul>
            </div>
            <!-- /.widget widget-sort-by -->
            <div class="widget widget-tags">
              <div class="widget-title">
                <h4>가격대</h4>
              </div>
              <div class="se_option">
                <div class="">
                  <%= f.search_field :price_gteq ,placeholder:"최저금액" ,style:"width:80px; height:20px; padding: 0 0 0 10px; display: inline-block;"%>
                  <!-- <input type="text" name="fromPrice" placeholder="최저금액" style="width:80px; height:20px; padding: 0 0 0 10px; display: inline-block;"> -->
                  ~
                  <%= f.search_field :price_lteq ,placeholder:"최대금액" ,style:"width:80px; height:20px; padding: 0 0 0 10px; display: inline-block;"%>
                </div>
              </div>

                <%= f.submit "search",style:"display: inline-block; height: 30px; line-height: 30px; color: #5a596a; background: #f1f2f5; border-radius: 1px;" %>

            </div>
            <div class="widget widget-tags">
              <div class="widget-title">
                <h4>카테고리</h4>
              </div>
              <ul class="tags-list">
                <li>
                  <%= f.radio_button :category_eq,'*',:checked => true %>
                  <label for="q_category_eq_checkedtrue"><a title="">All products</a></label>
                </li>
                <li>
                  <%= f.radio_button :category_eq, 0,id:"category_0" %>
                  <label for="category_0"><a title="">도서</a></label>
                </li>
                <li>
                  <%= f.radio_button :category_eq, 1,id:"category_1" %>
                  <label for="category_1"><a title="">의류</a></label>
                </li>
                <li>
                  <%= f.radio_button :category_eq, 2,id:"category_2" %>
                  <label for="category_2"><a title="">전자기기</a></label>
                </li>
                <li>
                  <%= f.radio_button :category_eq, 3,id:"category_3" %>
                  <label for="category_3"><a title="">신발</a></label>
                </li>
                <li>
                  <%= f.radio_button :category_eq, 4,id:"category_4" %>
                  <label for="category_4"><a title="">스포츠용품</a></label>
                </li>
                <li>
                  <%= f.radio_button :category_eq, 5,id:"category_5" %>
                  <label for="category_5"><a title="">가전제품</a></label>
                </li>
                <li>
                  <%= f.radio_button :category_eq, 6,id:"category_6" %>
                  <label for="category_6"><a title="">기타</a></label>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <!-- /.col-md-3 -->
      <!-- 정렬 옵션 테이블 -->
      <div class="col-md-12">
        <table class="align_table" width="100%" cellpadding="0" cellspacing="0">
		      <tbody>
            <tr>
              <td width="100%" background="/images/item/list_cp.gif">
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				        <tbody>
                  <tr>
                    <td width="25%"></td>
                    <td width="30%"></td>
                    <td width="15%"></td>
                    <td width="30%">
                      <div align="center">
                        <%= paginate @items %>
                      </div>
                    </td>
				          </tr>
				        </tbody>
              </table>
			        </td>
		        </tr>
		      </tbody>
        </table>

        <ul class="sell_items">
          <% @items.each do |item| %>
            <li class="sell_item">
              <%= link_to item, class:"link-to-target" do %>
              <% if not item.item_images.empty?  %>

                <div class="sell_item_thumb thumb1 lazy" data-src='<%= item.item_images[0].url(:list)%>'>
              <% else %>
                <div class="sell_item_thumb thumb1 lazy" data-src='http://dimg.donga.com/wps/NEWS/IMAGE/2018/11/29/93087313.2.jpg'>
              <% end %>
                </div>
                <div class="sell_item_thumb thumb2 lazy" data-src="https://search.pstatic.net/common?type=a&size=120x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2F49%2F20160628134751541.jpg"></div>

                <div class="sell_item_meta">
                  <h3 class="sell_item_title"><%= item.name %></h3>
                  <p class="sell_item_price"><%= item.price %> 원</p>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- /.col-md-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
