<section>
  <div class="container wrap-product">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">

      </div>
    </div>
    <div class="row">
      <div style="width:100%; height: 150px; margin:0 auto;">
        <%= search_form_for @q do |f| %>
          <div class="sort-product style3">
            <div class="search_box">
              <div class="container-search">
                <span class="icon"><em class="fa fa-search fa-2x"></em></span>
                <%= f.search_field :name_cont ,id:"search",placeholder:"Search..."%>
                <div class="filter float-right">
                  Filters <em class="fa fa-angle-down" aria-hidden="true"></em>
                </div>
              </div>
            </div>
          </div>
          <div class="box-filter shop">
            <div class="hider">
              <em class="fa fa-times" aria-hidden="true"></em>
            </div>
            <div class="widget widget-sort-by">
              <div class="widget-title">
                <h4>정렬 하기</h4>
              </div>
              <ul>
                <li>
                  <%= sort_link(@q, :price,'가격 순') %>
                </li>
                <li>
                  <%= sort_link(@q, :created_at,'등록 일 순') %>
                </li>
                <li>
                  <%= sort_link(@q, :name,'이름 순') %>
                </li>
              </ul>
            </div>
            <!-- /.widget widget-sort-by -->
            <div class="widget widget-tags">
              <div class="widget-title">
                <h4>가격대</h4>
              </div>
              <div class="se_option">
                <div class="">
                  <%= f.search_field :price_gteq ,placeholder:"최저금액" ,style:"width:80px; height:20px; padding: 0 0 0 10px; display: inline-block;"%>
                  <!-- <input type="text" name="fromPrice" placeholder="최저금액" style="width:80px; height:20px; padding: 0 0 0 10px; display: inline-block;"> -->
                  ~
                  <%= f.search_field :price_lteq ,placeholder:"최대금액" ,style:"width:80px; height:20px; padding: 0 0 0 10px; display: inline-block;"%>
                </div>
              </div>
            </div>
            <div class="widget widget-tags">
              <div class="se_option">
                <div class="widget-title">
                  <h4>카테고리</h4>
                </div>
                <div id="select_box">
                  <select id="se_cate" title="고추참치 고르기">
                    <option selected="selected">--선택--</option>
                    <option>고추</option>
                    <option>참치</option>
                    <option>고추참치</option>
                    <option>참치고추</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- /.widget widget-price -->

            <!-- /.widget widget-size -->

            <!-- /.widget widget-tags -->
          </div>

          <%= f.submit "search",style:"display:none" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <!-- /.col-md-3 -->
      <!-- 정렬 옵션 테이블 -->
      <div class="col-md-12">
        <table class="align_table" width="100%" cellpadding="0" cellspacing="0">
		      <tbody>
            <tr>
              <td width="100%" background="/images/item/list_cp.gif">
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				        <tbody>
                  <tr>
                    <td width="5%">
                    </td>
					          <td width="10%">
						          <div align="center" class="txdiv">

							          <!-- <a href="#"><img src="/images/item/arrow_up.png" width="10" height="10"></a> -->
							          <!-- <a href="#"><img src="/images/item/arrow_down.png" width="10" height="10"></a> -->
                      </div>
                    </td>
					          <td width="3" class="tx_05">
						          <img src="/images/item/list_cp.gif" width="3" height="33" alt="">
					          </td>
                    <td width="20%"></td>
                    <td width="20%">
                      <div align="center" class="txdiv">
                        <!-- <a href="#">모든 물품</a> -->
                        <img src="/images/item/list_cp.gif" width="3" height="33" alt="">
                        <!-- <a href="#">신 상 품</a> -->
                      </div>
                    </td>
                    <td width="30%"></td>
					          <td width="3" class="tx_05">
						          <img src="/images/item/list_cp.gif" width="3" height="33" alt="">
					          </td>
                    <td width="15%">
                      <div align="center">
                        <%= paginate @items %>
                      </div>
                    </td>
				          </tr>
				        </tbody>
              </table>
			        </td>
		        </tr>
		      </tbody>
        </table>

        <ul class="sell_items">
          <% @items.each do |item| %>
            <li class="sell_item">
              <%= link_to item, class:"link-to-target" do %>
              <% if not item.item_images.empty?  %>

                <div class="sell_item_thumb thumb1 lazy" data-src='<%= item.item_images[0].url(:list)%>'>
              <% else %>
                <div class="sell_item_thumb thumb1 lazy" data-src='http://dimg.donga.com/wps/NEWS/IMAGE/2018/11/29/93087313.2.jpg'>
              <% end %>
                </div>
                <div class="sell_item_thumb thumb2 lazy" data-src="https://search.pstatic.net/common?type=a&size=120x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2F49%2F20160628134751541.jpg"></div>

                <div class="sell_item_meta">
                  <h3 class="sell_item_title"><%= item.name %></h3>
                  <p class="sell_item_price"><%= item.price %> 원</p>
                </div>
              <% end %>
            </li>
          <% end %>
        </div>

        <!-- /.tab-product-content -->
      </div>
      <!-- /.col-md-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
