<!-- /.page-title -->
<section class="flat-product-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="flexslider style1">
          <ul class="slides" style="margin:0;">
            <% @item.item_images.each do  |img| %>
            <li data-thumb="<%= img.url(:thumb) %>" style="margin:1px;">
              <img src="<%= img.url %>" alt="image flexslider" style="max-width:400px; max-height:700px;" />
            </li>
            <% end %>
          </ul>
          <!-- /.slides -->
        </div>
        <!-- /.flexslider -->
      </div>
      <!-- /.col-lg-7 -->
      <div class="summary" style="height:700px; padding-bottom: 250px; border:1px solid black;">
        <h1 class="item_detail_title"><%= @item.name %></h1>
        <p class="item_detail_category">
          <a href="#"> 생필품 </a>
        </p>
        <div class="item_detail_desc">
          <%= @item.content %>
        </div>
        <div class="seller_area">
          <div class="seller_info">
            <span class="seller_name"><%= @item.user.name %></span>
            <span class="seller_subj"><%= @item.user.phone_num %></span>
            <span class="seller_sid"><%= @item.user.stu_num %></span>
          </div>
        </div>
        <div class="trades_area">
          <p class="price">
            <span>￦ <%= @item.price %></span>
          </p>
        </div>
      </div>

      
        <!-- /.product-detail -->
      </div>
      <!-- /.col-lg-5 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-product-detail -->
