<section class="flat-product-detail">
 <!-- Modal Box -->
	<div class="mask" role="dialog"></div>
	<div class="singo-modal" role="alert">
		<button class="close_modal" role="button">X</button>
		<!-- Content -->
		<h1 class="title-modal"><em class="fa fa-warning" style="font-size:48px;color:red"></em> &nbsp 신고 &nbsp <em class="fa fa-warning" style="font-size:48px;color:red"></em> </h1>
		<hr class="line-modal">
		<p class="paragraph-modal">
			<div class="mktoCheckboxList mktoHasWidth" style="width: 400px; margin-left: 100px;">
				<%= form_with(model: Singo.new, local: true) do |form| %>
				  <%= form.hidden_field :user_id, class: "form-control",value: current_user.id %>
				  <%= form.hidden_field :item_id, class: "form-control",value: @item.id %>
					<p>
					<%= form.radio_button :sel, 0, :checked => true,id:"singo_sel_0" %>
	    		<label for="singo_sel_0"><span></span>판매자의 프로필이 불쾌감을 주고있습니다</label>
	    		<p>
	    		<%= form.radio_button :sel, 1,id:"singo_sel_1" %>
	    		<label for="singo_sel_1"><span></span>판매글의 내용이 부적절하다고 생각됩니다</label>
					<p>
					<%= form.radio_button :sel, 2 ,id:"singo_sel_2"%>
	    		<label for="singo_sel_2"><span></span>판매글의 제품 정보가 부족히거나없습니다</label>
	    		<p>
	    		<%= form.radio_button :sel, 3 ,id:"singo_sel_3"%>
	    		<label for="singo_sel_3"><span></span>기 타</label>
					<p>
					상세내용
					<p>
						<%= form.text_area :content,id:"other_reasons",style:"width:100%; height: 100px; resize: none;" %>
					</p>
				    <%= form.button class:"content-button-singo"%>
				<% end %>
			</div>
	</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="flexslider style1">
          <ul class="slides" style="margin:0;">
            <% @item.item_images.each do  |img| %>
              <li data-thumb="<%= img.url(:thumb) %>" style="margin:1px;">
                <img src="<%= img.url %>" alt="image flexslider" style="max-width:400px; max-height:700px;" />
              </li>
            <% end %>
          </ul>
          <!-- /.slides -->
        </div>
        <!-- /.flexslider -->
      </div>
      <!-- /.col-lg-7 -->

			<div id="main-shop" class="summary col-lg-5 col-md-5 col-sm-5">
				<% if user_signed_in? && @item.user==current_user %>
					<div class="edit_delete_">
						<%= link_to @item ,method: :delete do %>
							<em class="fa fa-trash fa-2x "></em>&nbsp&nbsp&nbsp&nbsp
						<% end %>
						<%= link_to edit_item_path(@item) do %>
							<em class="fa fa-edit fa-2x"></em>
						<% end %>
					</div>
				<% end %>


				<div class="wrap-product">
						<div>
								<ul class="tab-product-list" style="float:left;">
									<li class="active">물품 정보</li>
									<li>판매자 정보</li>
								</ul>
								<!-- <div class="likes_alerts_ float-right"> -->
									<button class="btn_singo" style="float:right" ><em class="fa fa-exclamation-circle fa-2x" ></em></button>&nbsp
								<!-- </div> -->
							</div>
							<!-- /.sort-product -->
					<br>
					<!-- /.row -->
					<hr>
					<div class="tab-product-content">
						<div class="row first active" >
							<h4 class="item_detail_title"><%= @item.name %></h4>
							<p class="item_detail_category">
								카테고리 - <%= @item.category %>
							</p>
							<div class="item_detail_desc" style="white-space:pre-line;"><%= @item.content %></div>
							<hr>
								<p class="price">
									<span class="format-money"> <%= @item.price %> 원</span>
								</p>
							<%= form_for(Trade.new, url: trades_mktr_path ,method: "post") do |f| %>
								<% f.hidden_field :item_id ,:value => @item.id%>
								<%= hidden_field_tag 'item_id', @item.id  %>
								<%= f.button "거래 걸기",type:"submit",class:"purchase_btn" %>
							<% end %>
						</div>
						<!-- /.row -->
						<div class="row" style="display: none;">
							<div class="seller_area">
								<div class="seller_info">
									<div class="user_container_detail">
									<div class="avatar-flip1">
										<img src="<%= @item.user.profile_img%>" height="150" width="150" alt="">
									</div>
									<h6 class="seller_name"><%= @item.user.name %></h6>
									<br>
									<span class="seller_subj"><%= @item.user.major %></span>
									<br>
									<span class="seller_sid"><%= @item.user.stu_num %></span>
									</div>
								</div>
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.tab-product-content -->
				</div>
			</div>




    </div>
      <!-- /.row -->
	</div>
</section>
<section class="flat-product-content">
	<div class="container">

			<h3>판매자에 대한 리뷰</h3>
			<br>
			<% if @trades.empty? %>
				<p>리뷰가 없습니다</p>
			<% end %>

		<div class="row">

					<div class="reviews" style="display: block;">
	          <ol class="review-list">

							<% @trades.each do |r| %>
							<hr>
							<li class="overflow">
		            <div class="review-img float-left" style="float: left!important;">
		              <%= image_tag r.customer.profile_img.url,style:"width:50px;height:50px;" %>
		              <div class="queue center">
										<%for i in (0...r.score)  %>
		                	<i class="fa fa-star" aria-hidden="true"></i>
										<% end %>
										<%for i in (r.score...5)  %>
		                	<i class="fa fa-star-o" aria-hidden="true"></i>
										<% end %>
		              </div>
		            </div>
	            <!-- /.review-img -->
		            <div class="review-content overflow" >
		              <div class="date">
		                <%=  r.updated_at.strftime("%y %b %d %I:%M %p")%>
		              </div>
			            <div class="name">
			                <%= r.customer.name %>
			            </div>
			            <div class="text-review">
			              <p><%= r.review_content %></p>
			            </div>
		          	</div>
	        	  <!-- /.review-content -->
	          	</li>
							<% end %>

	          </ol>
	          <!-- /.review-list -->
	        </div>
		</div>
	</div>
  <!-- /.container -->
</section>
<!-- /.flat-product-detail -->

<script>

// 신고 버튼에 모달 호출 액션 부여
$(".btn_singo").on("click", function(){
  $(".mask").addClass("active"); // 모달 래퍼 클래스 찾아서 액티브 부여할거
});

function closeModal(){
  $(".mask").removeClass("active"); // 모달 창 닫기
}

// Function to close the modal screen
$(".close_modal, .mask").on("click", function(){
  closeModal();
});

// Closes the modal with the button within the content
$(".content-button-singo").click(function(){
	closeModal();
});

// or the keyboard (esc)
$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    closeModal();
  }
});

// 리뷰주기 버튼 이벤트 ( 모달 오픈 )
$(".btn_review").on("click", function(){
  $(".mask_rev").addClass("active");
});
function closeModal_rev(){
  $(".mask_rev").removeClass("active"); // active 지워서 모달 클로즈
};

  $(".rev_close, .mask_rev").on("click", function(){
    closeModal_rev();
  });

  $(".rev_btn_close").click(function(){
	  closeModal_rev();
  });

// 키보드 esc 키 리스너
  $(document).keyup(function(e) {
    if (e.keyCode == 27) {
      closeModal_rev();
    }
  });


</script>
