<!-- /.page-title -->
<section class="flat-product-detail">
 <!-- Modal Box -->
	<div class="mask" role="dialog"></div>
	<div class="singo-modal" role="alert">
		<button class="close_modal" role="button">X</button>
		<!-- Content -->
		<h1 class="title-modal">게시글 신고</h1>
		<hr class="line-modal">
		<p class="paragraph-modal">
			<div class="mktoCheckboxList mktoHasWidth" style="width: 400px; margin-left: 100px;">
				<p>
				<input type="radio" id="r1" name="rr" />
    		<label for="r1"><span></span>판매자의 프로필이 불쾌감을 주고있습니다</label>
    		<p>
    		<input type="radio" id="r2" name="rr" />
    		<label for="r2"><span></span>판매글의 내용이 부적절하다고 생각됩니다</label>
				<p>
				<input type="radio" id="r3" name="rr" />
    		<label for="r3"><span></span>판매글의 제품 정보가 부족히거나없습니다</label>
    		<p>
    		<input type="radio" id="r4" name="rr" />
    		<label for="r4"><span></span>김성준 새끼가 너무나도 괴롭힙니다...ㅠㅠ</label>
				<p>
				상세내용
				<p>
				<textarea id="other_reasons" style="width:100%; height: 100px; resize: none;"> </textarea></label>
			</div>
		</p>
		<button class="content-button-singo">신고하기</button>
	</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="flexslider style1">
          <ul class="slides" style="margin:0;">
            <% @item.item_images.each do  |img| %>
              <li data-thumb="<%= img.url(:thumb) %>" style="margin:1px;">
                <img src="<%= img.url %>" alt="image flexslider" style="max-width:400px; max-height:700px;" />
              </li>
            <% end %>
          </ul>
          <!-- /.slides -->
        </div>
        <!-- /.flexslider -->
      </div>
      <!-- /.col-lg-7 -->

      <div class="summary" style="height:700px; padding-bottom: 250px;">
        <div class="edit_delete_">
        <em class="fa fa-trash fa-2x "></em>&nbsp&nbsp&nbsp&nbsp
        <em class="fa fa-edit fa-2x"></em>
        </div>

        <div class="likes_alerts_">
          <em class="fa fa-heart fa-2x"></em>&nbsp&nbsp&nbsp&nbsp
          <button class="btn_singo"><em class="fa fa-bullhorn fa-2x" ></em></button>&nbsp
        </div>
        <h3 class="item_detail_title"><%= @item.name %></h3>
        <p class="item_detail_category">
          <a href="#"><%= @item.category %> </a>
        </p>
        <pre class="item_detail_desc">
          <%= @item.content %>
        </pre>
        <div class="trades_area">
          <div class="seller_area">
            <div class="seller_info">
              <span class="seller_name"><%= @item.user.name %></span>
              <span class="seller_subj"><%= @item.user.phone_num %></span>
              <span class="seller_sid"><%= @item.user.stu_num %></span>
            </div>
          </div>
          <h3 class="item_detail_title"><%= @item.name %></h3>
          <p class="item_detail_category">
            <a href="#"><%= @item.category %> </a>
          </p>
          <pre class="item_detail_desc">
            <%= @item.content %>
          </pre>
          <div class="trades_area">
            <div class="seller_area">
              <div class="seller_info">
                <span class="seller_name"><%= @item.user.name %></span>
                <span class="seller_subj"><%= @item.user.phone_num %></span>
                <span class="seller_sid"><%= @item.user.stu_num %></span>
              </div>
            </div>

            <div class="sell_area">
              <p class="price">
                <span>￦ <%= @item.price %></span>
              </p>

              <%= form_for(Trade.new, url: trades_mktr_path ,method: "post") do |f| %>
                <% f.hidden_field :item_id ,:value => @item.id%>
                <%= hidden_field_tag 'item_id', @item.id  %>
                <%= f.button "거래 걸기",type:"submit",class:"purchase_btn" %>
              <% end %>



            </div>
          </div>
      </div>

    </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.flat-product-detail -->


<script>

// 신고 버튼에 모달 호출 액션 부여
$(".btn_singo").on("click", function(){
  $(".mask").addClass("active"); // 모달 래퍼 클래스 찾아서 액티브 부여할거
});

function closeModal(){
  $(".mask").removeClass("active"); // 모달 창 닫기
}

// Function to close the modal screen
$(".close_modal, .mask").on("click", function(){
  closeModal();
});

// Closes the modal with the button within the content
$(".content-button-singo").click(function(){
	closeModal();
});

// or the keyboard (esc)
$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    closeModal();
  }
});

</script>
