<div class="flat-portfolio-single">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-simple-text">
          <% if @is_seller %>
            <h5>구매자 정보 ></h5>
            <br>
            <h3><%= @trade.customer.name %></h3>
            <h4><%= @trade.customer.stu_num %></h4>
            <h4><%= @trade.customer.phone_num %></h4>
          <% else %>
            <h5>판매자 정보 ></h5>
            <br>
            <h3><%= @trade.seller.name %></h3>
            <h4><%= @trade.seller.stu_num %></h4>
            <h4><%= @trade.seller.phone_num %></h4>
          <% end %>
        </div>
        <!-- /.single-simple -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-simple-text">
          <h5>거래진행 현황 > </h5>
          <br>
          <h6><%= @print_text %></h6>
          <p><%= @subline_text %></p>

        </div>
        <!-- /.single-simple-text -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <ul class="list-info padding-left-100">
          <li>Client: <span>DANIEL CRAWLER</span></li>
          <li>Date: <span>07 May 2016</span></li>
          <li>Location: <span>United States</span></li>
          <li>Author: <span>Kawhi Leonard</span></li>
        </ul>
        <!-- /.list-info -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="offset-md-1 col-md-10 bg-light">
        <h3 class=" text-center">메세지함</h3>
        <div class="messaging">
          <div class="inbox_msg">
            <div class="mesgs">
              <div class="msg_history">
                <% @chats.each do |chat| %>
                  <% if current_user.id == chat.user.id %>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p><%= chat.message %></p>
                        <span class="time_date"> <%= chat.created_at.strftime("%y %b %d %I:%M %p") %></span>
                      </div>
                    </div>
                  <% else %>
                    <p><%= chat.user.name %></p>
                    <div class="incoming_msg">
                      <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><%= chat.message %></p>
                          <span class="time_date"> <%= chat.created_at.strftime("%y %b %d %I:%M %p") %></span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%= form_with(model: @chat, remote: true, format: :js, id: 'chat-form') do |form| %>
              <% if @chat.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
                  <ul>
                    <% @chat.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <%= form.text_field :message, id: :message, class: "write_msg" %>
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    <%= form.hidden_field :trade_id, id: :trade, class: "form-control",value: @trade.id %>
                    <%= form.hidden_field :user_id, class: "form-control",value: current_user.id %>
                    <%= form.hidden_field :user_name, class: "form-control",value: current_user.name %>
                  </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <% if (@trade.status=="거래 중") or ( not @is_seller and @trade.status=="판매 완료") or ( @is_seller and @trade.status=="수령 완료") %>
            <div class="offset-md-3 col-md-3">
              <%= link_to  trade_update_status_path(@trade.id) do%>
                <button class=" line-black supper border-radius-2">물품인수확인</button>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to   do%>
                <button class=" line-black supper border-radius-2" style="background:rgb(231, 86, 66);border:rgb(255, 0, 0)">거래 취소</button>
              <% end %>
            </div>
        <% elsif @trade.status=="거래 취소"%>
          <div class="offset-md-4 col-md-4">
            <button class=" line-black supper border-radius-2" style="background:rgb(231, 86, 66);border:rgb(255, 0, 0)" disabled>거래 취소 됨</button>
          </div>
        <% elsif @trade.status=="거래 완료"%>
          <div class="offset-md-3 col-md-3">
            <button class=" line-black supper border-radius-2" style="background:rgb(25, 235, 65);border:rgb(40, 129, 9)" disabled>거래 완료 됨</button>
          </div>
          <div class="col-md-3">
            <button class=" line-black supper border-radius-2" style="background:rgb(25, 235, 65);border:rgb(40, 129, 9)" disabled>리뷰 쓰기</button>
          </div>
        <% else %>

          <div class="offset-md-3 col-md-3">
            <button class=" line-black supper border-radius-2" disabled >물품인수확인</button>
          </div>
          <div class="col-md-3">
            <%= link_to   do%>
              <button class=" line-black supper border-radius-2" style="background:rgb(231, 86, 66);border:rgb(255, 0, 0)">거래 취소</button>
            <% end %>
          </div>

        <% end %>
    </div>

    <!--이쪽 부분 모달 폼 만들어서 버튼도 리뷰 널값일꺠 넣는거로-->

    <%if @trade.status=="거래 완료"%>
      <div class="row">
        <%= form_with(model: @trade, local: true) do |form| %>
          <div class="contact-form-name contact-form">
              <%= form.text_area :review_content, placeholder:"리뷰 작성" %>
          </div>
              <%= form.hidden_field :score ,id:"score"%>
              <span class="star-input">
              	<span class="input">
                  	<input type="radio" name="star-input" value="1" id="p1">
                  	<label for="p1">1</label>
                  	<input type="radio" name="star-input" value="2" id="p2">
                  	<label for="p2">2</label>
                  	<input type="radio" name="star-input" value="3" id="p3">
                  	<label for="p3">3</label>
                  	<input type="radio" name="star-input" value="4" id="p4">
                  	<label for="p4">4</label>
                  	<input type="radio" name="star-input" value="5" id="p5">
                  	<label for="p5">5</label>
                	</span>
              </span>
          <div class="btn-contact-form center">
            <%= form.button class:"flat-button-form" %>
          </div>
        <% end %>
      </div>
    <% elsif @trade.status=="거래 완료"  %>
    <%= @trade.review_content %>
    <%= @trade.score %>

    <% end %>

<!--별점 스크립트-->
<script type="text/javascript">
  var starRating = function(){
  var $star = $(".star-input"),
      $result = $("#score");
    	$(document)
  	.on("focusin", ".star-input>.input",
  		function(){
     		 $(this).addClass("focus");
   	})
     	.on("focusout", ".star-input>.input", function(){
      	var $this = $(this);
      	setTimeout(function(){
        		if($this.find(":focus").length === 0){
         			$this.removeClass("focus");
       	 	}
     		}, 100);
   	 })

      .on("change", ".star-input :radio", function(){
      	$result.attr("value",
          $(this).next().text()
        );
    	})
      .on("mouseover", ".star-input label", function(){
      	$result.attr("value",$(this).text());
      })
      .on("mouseleave", ".star-input>.input", function(){
      	var $checked = $star.find(":checked");
      		if($checked.length === 0){
       	 		$result.attr("value","0");
     		 	} else {
       	 		$result.attr("value",$checked.next().text());
      		}
    	});
  };
  starRating();
</script>
<style>
.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('/images/grade_img.png')no-repeat;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}
</style>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.flat-portfolio-single -->

<!--챗팅 스크립트-->
<script type="text/javascript">

    jQuery(document).ready(function($) {
      var height = $(".msg_history")[0].scrollHeight;

      $(".msg_history").scrollTop(height);

      // document.getElementById("recommand_finance_memo").rows = "5";
      $('.write_msg').keyup(function(event) {
        if (event.keyCode === 13 && !event.shiftKey) {
        }
      });

      Pusher.logToConsole = true;

      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
        cluster: 'ap3',
        forceTLS: true
      });

      // current_user = parseInt($("#utility_nav #current_user a").attr("href").split("/").slice(-1)[0])
      var channel = pusher.subscribe("trade-<%=@trade.id%>-channel");

      channel.bind('send_message',function(data) {

        if (<%= current_user.id %> == data.user.id ){
        $('.msg_history').append("\
        <div class=\"outgoing_msg\">\
          <div class=\"sent_msg\">\
            <p>"+ data.message +"</p>\
            <span class=\"time_date\">"+ data.date+"</span>\
          </div>\
        </div>"
        );}
        else{
          $('.msg_history').append("\
          <p>"+data.user.name+"</p>\
          <div class=\"incoming_msg\">\
            <div class=\"received_msg\">\
              <div class=\"received_withd_msg\">\
                <p>"+data.message+"</p>\
                <span class=\"time_date\">"+data.date+"</span>\
              </div>\
            </div>\
          </div>"
          );
        }
      var height = $(".msg_history")[0].scrollHeight;
      $(".msg_history").scrollTop(height);
      $("#message.write_msg").val("")
      });

    });


</script>
