<div class="flat-portfolio-single">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-simple">
          <h3><%= @trade.item.user.name %></h3>
          <h4><%= @trade.item.user.stu_num %></h4>
          <h4><%= @trade.item.user.phone_num %></h4>
        </div>
        <!-- /.single-simple -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="single-simple-text">
          <p>Efimer is a project based on the concept that fashion is ephemeral. To represent this idea I designed a haute couture collection made by vegetables, which are ephemeral too. I decided to paint the vegetables to give uniformity at the clothes and express the purity that provides.</p>
        </div>
        <!-- /.single-simple-text -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <ul class="list-info padding-left-100">
          <li>Client: <span>DANIEL CRAWLER</span></li>
          <li>Date: <span>07 May 2016</span></li>
          <li>Location: <span>United States</span></li>
          <li>Author: <span>Kawhi Leonard</span></li>
        </ul>
        <!-- /.list-info -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="offset-md-1 col-md-10 bg-light full-height">
        <h3 class=" text-center">메세지함</h3>
        <div class="messaging">
          <div class="inbox_msg">
            <div class="mesgs">
              <div class="msg_history">
                <% @chats.each do |chat| %>
                  <% if current_user.id == chat.user.id %>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p><%= chat.message %></p>
                        <span class="time_date"> <%= chat.created_at.strftime("%y %b %d %I:%M %p") %></span>
                      </div>
                    </div>
                  <% else %>
                    <p><%= chat.user.name %></p>
                    <div class="incoming_msg">
                      <!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><%= chat.message %></p>
                          <span class="time_date"> <%= chat.created_at.strftime("%y %b %d %I:%M %p") %></span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%= form_with(model: @chat, remote: true, format: :json, id: 'chat-form') do |form| %>
              <% if @chat.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
                  <ul>
                    <% @chat.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <%= form.text_field :message, id: :message, class: "write_msg" %>
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    <%= form.hidden_field :trade, id: :trade, class: "form-control",value: @trade.id %>

                  </div>
              </div>
            <% end %>
          </div>
        </div>
  </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.flat-portfolio-single -->


<script>
  //= require rails-ujs
  //= require arctic_admin/base
  //= require activeadmin_addons/all
  //= require toastr
  //= require micromodal
  //= require pusher

  jQuery(document).ready(function($) {
    var height = $(".msg_history")[0].scrollHeight;

    $(".msg_history").scrollTop(height);

    // document.getElementById("recommand_finance_memo").rows = "5";
    $('.write_msg').keyup(function(event) {
      if (event.keyCode === 13 && !event.shiftKey) {


      }
    });

    Pusher.logToConsole = true;

    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
      cluster: '<%= ENV["PUSHER_CLUSTER"] %>',
      forceTLS: true
    });

    // current_user = parseInt($("#utility_nav #current_user a").attr("href").split("/").slice(-1)[0])
    var channel = pusher.subscribe("trade-<%=@trade.id%>-channel");

    channel.bind('send_message',function(data) {
      if (<%= current_user.id %> == data.user.id ){
      $('.msg_history').append("\
      <div class=\"outgoing_msg\">\
        <div class=\"sent_msg\">\
          <p>"+ data.message +"</p>\
          <span class=\"time_date\">"+ data.date+"</span>\
        </div>\
      </div>"
      );}
      else{
        $('.msg_history').append("\
        <p>"+data.user.name+"</p>\
        <div class=\"incoming_msg\">\
          <div class=\"received_msg\">\
            <div class=\"received_withd_msg\">\
              <p>"+data.message+"</p>\
              <span class=\"time_date\">"+data.date+"</span>\
            </div>\
          </div>\
        </div>"
        );
      }
    var height = $(".msg_history")[0].scrollHeight;

    $(".msg_history").scrollTop(height);
    $("#message.write_msg").val("")

    });

  });

</script>
