<%= render partial:"shared/page_title" , locals: {
  section_class: 'parallax parallax2',
  ad_pre_html: "<div class='title-heading'>" ,
  ad_post_html: "</div><div class='overlay-black'></div>",
  title_html: "<h1>전체 거래 내역?</h1>",

  }%>
<section class="table">
      <div class="container">
      	<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<div class="panel panel-default">
    					<div class="panel-body">
    						<div class="pull-right">
    							<div class="btn-group">
    								<button type="button" class="btn btn-success btn-filter" data-target="pagado">거래중</button>
    								<button type="button" class="btn btn-warning btn-filter" data-target="pendiente">거래완료</button>
    								<button type="button" class="btn btn-danger btn-filter" data-target="cancelado">거래취소</button>
    							</div>
    						</div>
    						<div class="table-container">
    							<table class="table table-filter">
                    <thead>
                      <tr>
                        <td>미리보기</td>
                        <td>제목</td>
                        <td>분류</td>
                        <td>가격</td>
                        <td>판매자</td>
                        <td>구매자</td>
                      </tr>
                    </thead>
    								<tbody>
                      <%@trades.each do |t|%>

          									<tr data-status="pagado" class="btn-success">

          										<td>
                                <%= image_tag t.item.item_images[0].url(:thumb) if t.item.item_images.present?%>
          										</td>
                              <td>
                                <%= t.item.name %>
                              </td>
                              <td>
                                <%= t.item.category %>
                              </td>
                              <td>
                                <%= t.item.price %> 원
                              </td>
                              <td>
                                <%= t.seller.name %>
                              </td>
                              <td>
                                <%= t.customer.name %>
                              </td>
                              <td>
                                <% if user_signed_in? && (current_user == t.seller || current_user == t.customer) %>
                                  <%= link_to "상세보기", trade_detail_path(t)  %>
                                <% end %>
                              </td>

          									</tr>

                      <% end %>
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
    			</div>
    		</section>
