<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class = "header_sticky">
    <div class="preloader">
      <div class="dizzy-gillespie"></div>
    </div>
    <!-- /.preloader -->
    <div class="boxed">

      <%= render 'shared/header' %>
      <%= flash_messages(:close, :fade) %>
      <%= yield %>

      <%= render 'shared/footer' %>

    </div>
    <!-- /.boxed -->

    <%= render 'shared/js_load' %>

  </body>
</html>
