<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
  <head>
    <title>ReuseMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>ReUseMarket - Homepage 05</title>
    <meta name="author" content="themsflat.com">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Boostrap style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/fancybox.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/colors/color1.css" id="colors">
    <!-- Favicon -->
    <link href="/./images/icons/favicon.png" rel="shortcut icon">
  </head>
  <body class = "header_sticky">
    <div class="preloader">
      <div class="dizzy-gillespie"></div>
    </div>
    <!-- /.preloader -->
    <div class="boxed">
      <section id="header" class="header style2 v7">
        <div class="container-fluid">
          <div id="logo" class="logo float-left">
            <%= link_to :root do %>
              ReUseMarket
            <% end %>

          </div>
          <!-- /.logo -->
          <div class="get-quote float-right">
            <% if user_signed_in? %>
              <%= link_to '로그아웃', destroy_user_session_path,method: :delete %>
            <% else %>
              <%= link_to '로그인', new_user_session_path %>
              <%= link_to '회원가입', new_user_registration_path %>
            <% end %>
          </div>

          <div class="menu-extra">
            <div class="box-search">
              <span class="icon_search"></span>
              <form action="#" method="get" accept-charset="utf-8">
                <div class="input-search">
                  <input type="text" name="search" placeholder="|Enter Your Search...">
                  <span class="ti-close delete"></span>
                </div>
              </form>
            </div>
            <div class="box-canvas">
              <span class="ti-align-right"></span>
            </div>
          </div>
          <!-- /.icon-header -->
          <div class="nav-wrap">
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
            <div id="mainnav" class="mainnav">
              <ul class="menu">
                <li class="active has-menu-mega">
                  <a href="#" title="">
                    Home
                  </a>
                  <!-- /.submenu menu-mega -->
                </li>
                <!-- /.has-menu-mega -->
                <li class="has-submenu">
                  <%= link_to items_path do %>
                    Shop
                  <%end%>
                  <div class="submenu">
                    <ul>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- /.has-menu-mega -->

                <li class="has-submenu">
                  <a href="#" title="">
                    Log
                  </a>
                  <div class="submenu">
                    <ul>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- /.has-menu-mega -->

                <li class="has-submenu">
                  <a href="#" title="">
                    Sell
                  </a>
                  <div class="submenu">
                    <ul>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                      <li>
                        <a href="#" title="">서브메뉴</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- /.has-menu-mega -->


              </ul>
              <!-- /.menu -->
            </div>
            <!-- /.mainnav -->
          </div>
          <!-- /.nav-wrap -->
          <div class="clearfix"></div>
        </div>
        <!-- /.container-fluid -->
        <div class="menu-canvas">
          <div class="close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="widget-about">
            <h5>We Are ReUseMarket</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
          </div>
          <div class="widget-contact">
            <h5>Contact Us</h5>
            <ul>
              <li>88 Landsriver St, Califonia, USA</li>
              <li>(04) 122 00 111</li>
              <li><a href="#" title="">support@elegant.com</a></li>
            </ul>
          </div>
          <div class="share-link">
            <ul class="social-ft">
              <li>
                <a href="" title="Facebook">
                  <i class="ti-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="Twitter">
                  <i class="ti-twitter-alt" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="Google Plus">
                  <i class="ti-google" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="Instagram">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="Dribble">
                  <i class="ti-dribbble" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="" title="Pinterest">
                  <i class="ti-pinterest" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <p class="copyright">Copyright ©2017 ReUseMarket. All Rights Reserved</p>
          </div>
        </div>
      </section>
    <!-- /.header -->
      <%= flash_messages(:close, :fade) %>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <footer class="style2 bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="widget-about">
                <div class="logo-ft">
                  <a href="/index.html" title="">ReUseMarket</a>
                </div>
                <ul class="social-ft">
                  <li>
                    <a href="" title="Facebook">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Twitter">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Google Plus">
                      <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Instagram">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Pinterest">
                      <i class="fa fa-pinterest" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
                <!-- /.social-ft -->
                <p>
                  Copyright
                  <i class="fa fa-copyright" aria-hidden="true"></i>
                  2017 DeerCreative Inc.
                </p>
              </div>
              <!-- /.widget-about -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
              <div class="widget-information">
                <ul class="flat-contact">
                  <li class="contact">
                    <p class="phone">1 (800) 686-6688</p>
                    <p class="email">info.deercreative@gmail.com</p>
                  </li>
                  <li class="address">
                    <p>40 Baria Sreet 133/2
                      <br/>
                      NewYork City, US</p>
                  </li>
                </ul>
              </div>
              <!-- /.widget-information -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
              <div class="widget-menu-ft">
                <ul class="one-half">
                  <li>
                    <a href="#" title="">Home</a>
                  </li>
                  <li>
                    <a href="#" title="">About</a>
                  </li>
                  <li>
                    <a href="#" title="">Services</a>
                  </li>
                  <li>
                    <a href="#" title="">Work</a>
                  </li>
                </ul>
                <!-- /.one-half -->
                <ul class="one-half">
                  <li>
                    <a href="#" title="">Disclaimer</a>
                  </li>
                  <li>
                    <a href="#" title="">Privacy</a>
                  </li>
                  <li>
                    <a href="#" title="">Advertisement</a>
                  </li>
                  <li>
                    <a href="#" title="">Contact us</a>
                  </li>
                </ul>
                <!-- /.one-half -->
              </div>
              <!-- /.widget-menu-ft -->
            </div>
            <!-- /.col-md-4 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </footer>
      <!-- /footer style2 -->
      <div class="button-go-top">
        <a href="#" title="" class="go-top">
          <i class="fa fa-chevron-up"></i>
        </a>
        <!-- /.go-top -->
      </div>
      <!-- /.button-go-top -->

    </div>
    <!-- /.boxed -->

    <!-- Javascript -->
    <script type="text/javascript" src="/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/tether.min.js"></script>
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="/javascript/waypoints.min.js"></script>
    <script type="text/javascript" src="/javascript/easing.js"></script>
    <script type="text/javascript" src="/javascript/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/javascript/kinetic.js"></script>
    <script type="text/javascript" src="/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="/javascript/parallax.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&region=GB"></script>
    <script type="text/javascript" src="/javascript/gmap3.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.final-countdown.js"></script>
    <script type="text/javascript" src="/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascript/main.js"></script>
    <!-- Revolution Slider -->
    <script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/revolution/js/slider.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script>
  </body>
</html>
